@import 'null.scss';
@font-face {
    font-family: 'GothamPro';
    font-style:normal;
    font-weight: 400;
    src: url(../fonts/gothampro.ttf);
}
@font-face {
    font-family: 'GothamProBold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/gothampro_bold.ttf);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;    
}
._lock{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.header__top-container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 4.3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: center;

}
.header__top{
    font-family: 'GothamPro';
}
.header__top-logo {
    min-width: 42.3rem;
    height: 7.7rem;
    display: block;
    background-image: url(../images/header/logo.png);
    background-size: cover;
}
.header__top-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 44rem;
   

}
.button__back {
    max-width: 23rem;
    font-size: 1.4rem;
    line-height: 92%;
    color: #FFFFFF;
    border: 0.1rem solid rgba(77, 8, 20, 1);
    background-color: rgba(77, 8, 20, 1);
    position: relative;
    padding: 1.1rem 3.6rem 1.1rem 5.5rem;
    margin-bottom: 0.5rem; 
    &::after{
        position: absolute;
        content:'';
        width: 2.2rem;
        height: 1.713rem;
        left: 2.2rem;
        top: 0.9rem;
        background-image: url(../images/header/phone.svg);
        background-size: cover;


    }
}
.button__send {
    max-width: 23rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 92%;
    color: #4D0814;
    border: 0.1rem solid rgba(77, 8, 20, 1);
    position: relative;
    padding: 1.1rem 2rem 1.1rem 4.5rem;
    &::after{
        position: absolute;
        content:'';
        width: 2rem;
        height: 2rem;
        left: 2rem;
        top: 0.8rem;
        background-image: url(../images/header/mail.svg);
        background-size: cover;


    }
}
.header__top-info {
    min-width: 26.4rem;
   
}
.top__info-adress {
    font-size: 1.6rem;
    line-height: 119%;
    color: #000000;
    margin-bottom: 1.5rem;
}
.top__info__tel {
    font-family: 'GothamProBold';
    font-size: 2.4rem;
    line-height: 92%;
    color: #000000;
}
@media(max-width:992px){
    .header__top-container{
        padding: 3.3rem 1.5rem;
    
    }
    .header__top-logo {
        min-width: 25rem;
        height: 5rem;
    }
    .header__top-buttons {
        width: auto;
    }
    .button__back {
        max-width: 20rem;
        font-size: 1.2rem;
        color: #FFFFFF;
        padding: 1.1rem 2rem 1.1rem 3.9rem;
        &::after{
            left: 1rem;
        }
 
    }
    .button__send {
        max-width: 20rem;
        font-size: 1.2rem;
        padding: 1.1rem 0.5rem 1.1rem 3.2rem;
        &::after{
            left: 1rem;
        }
    }
    .header__top-info {
        min-width: 23.4rem;
       
    }
    .top__info-adress {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .top__info__tel {
        font-size: 1.8rem;
    }
}

@media(max-width:768px){
    .header__top-container{
        padding: 2.3rem 1.5rem;
        column-gap: 1rem;
    
    }
    .header__top-logo {
        min-width: 18rem;
        height: 3.5rem;
    }
    .button__back {
        max-width: 20rem;
        font-size: 1.2rem;
        color: #FFFFFF;
        padding: 0.7rem 2rem 0.7rem 3.9rem;
        &::after{
            left: 1rem;
            top: 0.5rem;
        }
 
    }
    .button__send {
        max-width: 20rem;
        font-size: 1.2rem;
        padding: 0.7rem 0.5rem 0.7rem 3.2rem;
        &::after{
            left: 0.7rem;
            top: 0.3rem;
        }
    }
    .header__top-info {
        min-width: 14rem;
        width: 15rem;
       
    }
    .top__info-adress {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .top__info__tel {
        font-size: 1.6rem;
    }
}
@media(max-width:576px){
    .header__top-container{
        padding: 1.3rem 1.5rem;
        column-gap: 1rem;
    
    }
    .header__top-logo {
        min-width: 13rem;
        height: 2.5rem;
    }
    .button__back {
        max-width: 20rem;
        font-size: 1.0rem;
        color: #FFFFFF;
        padding: 0.7rem 1.5rem 0.7rem 3.4rem;
        &::after{
            left: 1rem;
            top: 0.5rem;
            width: 1.7rem;
            height: 1.313rem;
        }
 
    }
    .button__send {
        max-width: 20rem;
        font-size: 1.0rem;
        padding: 0.7rem 0.5rem 0.7rem 2.53rem;
        &::after{
            left: 0.3rem;
            top: 0.4rem;
            width: 1.7rem;
            height: 1.7rem;
        }
    }
    .header__top-info {
        display: none;
        min-width: 14rem;
        width: 15rem;
       
    }
    .top__info-adress {
        font-size: 1.0rem;
        margin-bottom: 1rem;
    }
    .top__info__tel {
        font-size: 1.6rem;
    }
}

/*----------------------------------------------------------------*/

.header__bottom {
    background-color: #263D59; 
}
.header__bottom-container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem ;
}
.header__nav { 
    ul{
        display: flex;
        justify-content: space-between;
        li{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 110%;
            letter-spacing: 0.02em;
           a{
            color: #FFFFFF;
           }
        }
    }
 
}
.menu__icon {
    display: none;
    position: relative;
    height: 20px;
    width: 30px;
    margin: 0 auto;
}

.menu__icon span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 10%;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.menu__icon::after,
.menu__icon::before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    left: 0;
    height: 10%;
    transition: all 0.3s ease 0s;

}

.menu__icon::before {
    top: 0;
}

.menu__icon::after {
    bottom: 0;
}
@media(max-width:992px){
    .header__bottom-container {
        max-width: 130rem;
        margin: 0 auto;
        padding: 1.3rem 1.5rem ;
    }
    .header__nav { 
        ul{
            li{
                font-size: 1.6rem;
            }
        }
     
    }
}
@media(max-width:768px){
    .header__nav {
        position: fixed;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100%;
        z-index: 5;
        justify-content: center;
        margin-top: 16.28rem;
        padding-top: 3rem ;
        transition: all 0.3s ease 0s;
        background-color: #263D59;
        ul{
            font-size: 2rem;
            flex-direction: column;
            li {
                text-align: center;
                padding: 1.6rem;
            }
        }
    }
    .menu__icon {
        display: block;
    }

    ._active {

        &::after,
        &::before {
            background-color: #ffffff;
        }
    }

    ._active::before {
        transform: rotate(45deg);
        top: 0.9rem;
    }

    ._active::after {
        transform: rotate(-45deg);
        bottom: 0.9rem;
    }

    ._active span {
        transform: scale(0);
    }

    ._actived {
        left: 0;
    }

}

@media(max-width:576px){
    .header__nav {
        margin-top: 12.738rem;
        padding-top: 2rem ;
        transition: all 0.3s ease 0s;
        background-color: #263D59;
        ul{
            font-size: 2rem;
            flex-direction: column;
            li {
                text-align: center;
                padding: 1.2rem;
            }
        }
    }
}
/*--------------------------------------------------------------*/

.section__swiper {
    background-image: url(../images/main/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section__swiper-container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0rem 1.5rem;
    height: 50.9rem;
}
.swiper {
    height: 50.9rem;
}

.swiper__slide-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 16rem;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        z-index: -2;
        width: 52.8rem;
        height: 50.9rem;
        right: 6.4rem;
        bottom: -1rem;
        background-image: url(../images/main/women.png);


    }
}
.slide__left-title {
    font-family: 'GothamProBold';
    font-size: 3rem;
    line-height: 105.7%;
    color: #FFE49D;
    margin-bottom: 2rem;
}
.slide__left-subtitle {
    max-width: 48.6rem;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 144%;
    color: #ffffff;
    margin-bottom: 4rem;

}
.slide__left-button {
    display: inline-block;
    font-family: 'GothamPro';
    font-size: 1.8rem;
    line-height: 92%;
    color: #FFE49D;
    padding: 1.5rem 7.1rem 1.5rem 4.2rem;
    border: 1px solid #FFE49D;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 2.9rem;
        height: 1.5rem;
        right: 4.2rem;
        top: 1.5rem;
        background-image: url(../images/main/arrow.svg);
        background-size: cover;
    }
}
.swiper-button-next,
.swiper-button-prev{
    &::after{
        color:#FFE49D;   
    }
    
}
.swiper-pagination{
    font-size: 19px;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active{
        background: #FFE49D;
   
}
.swiper-pagination .swiper-pagination-bullet{
    background-color: #FFE49D;
}

@media(max-width:992px){
    .section__swiper-container {
        height: 35.9rem;
    }
    .swiper {
        height: 35.9rem;
    }
    
    .swiper__slide-container {
        padding-top: 5rem;
        padding-bottom: 10rem;
        padding-left: 10rem;
        &::after{

            width: 35.8rem;
            height: 35.9rem;
            right: 6.4rem;
            bottom: 0rem;
            background-size: cover;
    
    
        }
    }
    .slide__left-title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    .slide__left-subtitle {
        max-width: 42.6rem;
        font-size: 1.6rem;
        margin-bottom: 4rem;
    
    }
    .slide__left-button {
        font-size: 1.6rem;
        padding: 1.2rem 6.1rem 1.2rem 3.2rem;
        border: 1px solid #FFE49D;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 2.9rem;
            height: 1.5rem;
            right: 3.0rem;
            top: 1.2rem;
            background-image: url(../images/main/arrow.svg);
            background-size: cover;
        }
    }

}
@media(max-width:768px){
    .section__swiper-container {
        height: 30.9rem;
    }
    .swiper {
        height: 30.9rem;
    }
    
    .swiper__slide-container {
        padding-top: 2rem;
        padding-bottom: 10rem;
        padding-left: 6rem;
        &::after{
            width: 30.8rem;
            height: 30.9rem;
            right: 6.4rem;
            bottom: 0rem;
    
        }
    }
    .slide__left-title {
        font-size: 2.0rem;
        margin-bottom: 2rem;
    }
    .slide__left-subtitle {
        max-width: 37.6rem;
        font-size: 1.4rem;
        margin-bottom: 4rem;
    
    }
    .slide__left-button {
        font-size: 1.4rem;
        padding: 1.2rem 5.1rem 1.2rem 2.2rem;
        &::after{
            width: 2.0rem;
            height: 1.0rem;
            right: 2.0rem;
            top: 1.2rem;
            background-image: url(../images/main/arrow.svg);
            background-size: cover;
        }
    }

}
@media(max-width:576px){
    .swiper-button-next,
    .swiper-button-prev{
        
    &::after{
        font-size: 20px !important;
    }
   
    }

    .section__swiper-container {
        height: 25.9rem;
        padding-left: 0;
        padding-right: 0;
    }
    .swiper {
        height: 25.9rem;
    }
    
    .swiper__slide-container {
        padding-top: 3rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
        padding-right: 4rem;
        &::after{
            display: none;
            width: 25.8rem;
            height: 25.9rem;
            right: 3.4rem;
            bottom: 0rem;
    
        }
    }
    .slide__left-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .slide__left-subtitle {
        max-width: 100%;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #ffffff;
    
    }
    .slide__left-button {
        font-size: 1.2rem;
        padding: 0.7rem 3.7rem 0.7rem 2.2rem;
        &::after{
            width: 2.0rem;
            height: 1.0rem;
            right: 1.0rem;
            top: 0.7rem;
            background-image: url(../images/main/arrow.svg);
            background-size: cover;
        }
    }

}
@media(max-width:360px){
    .section__swiper-container {
        height: 30.9rem;
        padding-left: 0;
        padding-right: 0;
    }
    .swiper {
        height: 30.9rem;
    }
}
/*-----------------------------------------------------*/
.section-services {
    background-color: #F8F8F8;
}
.section__services-container {
    max-width: 135.2rem;
    padding-top: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 52rem;
    margin: 0 auto;
}
.section__services-title {
    margin: 0 auto;
    font-family: 'GothamProBold';
    font-size: 3.6rem;
    line-height: 117%;
    text-align: center;
    color: #000000;
}
.section__services-line{
    background-color: #4D0814;
    width: 21.2rem;
    height: 0.4rem;
    margin: 0 auto;
    margin-top: 1.4rem;
    margin-bottom: 3.2rem;

}
.section__services-items {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.section__services-item {
    padding: 3rem;
    border-top: 0.5rem solid #4D0814;
    background-color: #FFFFFF;
    flex: 1 1 33.333%;
    height: 49rem;
    position: relative;
    box-shadow: 0 0 0.7rem #a7a5a5;
    display: flex;
    flex-direction: column;
}
.servises__item-title {
    font-family: 'GothamProBold';
    font-size: 2.6rem;
    line-height: 108%;
    text-transform: uppercase;
    color: #4D0814;
    margin-bottom: 2rem;
}
.services__item-points {
    padding-left: 3.211rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 5.4rem;
}
.item__point {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    color: #4A4A4A;
    position: relative;
    &::after{
        position: absolute;
        content: url(../images/main/point.svg);
        left: -3.2rem;
        top: 0;
    }
}
.services__item-buttontop {
    position: absolute;
    left: 6.211rem;
    bottom: 10.6rem;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 130%;
    color: #4D0814;
    &::after{
        content: url(../images/main/arrowred.svg);
        width: 2.9rem;
        height: 1.5rem;
        top: 0.3rem;
    }
}
.services__item-buttonbottom {
    position: absolute;
    bottom:3rem;
    left: 27%;
    cursor: pointer;
    background-color: #4D0814;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135%;
    color: #FFFFFF;
    padding: 0.9rem 3.1rem;
    border: 0.1rem solid #4D0814;
    transition: all 0.3s ease 0s;
    &:hover{
        color: #000000;
        background-color: #F8F8F8;
        box-shadow: 0 0 0.7rem #4D0814;
    }
}
@media(max-width:1245px){
    .section__services-item {
        height: 55rem;

    }
}
@media(max-width:1148px){
    .section__services-item {
        height: 50rem;

    }
    .servises__item-title {
        font-size: 2.2rem;
    }
    .item__point {
        font-size: 1.8rem;
        &::after{
            left: -3.2rem;
            top: 0;
        }
    }
}
@media(max-width:992px){
    .section__services-items {
       flex-wrap: wrap;
       justify-content: space-around;
       row-gap: 2rem;

    }
    .section__services-item {
        flex: 1 1 100%;
        height: 31rem;
 
     }
     .services__item-buttontop {
        left: 6.211rem;
        bottom: 2.6rem;
        cursor: pointer;
        font-size: 1.8rem;
        &::after{
            content: url(../images/main/arrowred.svg);
            width: 2.9rem;
            height: 1.5rem;
            top: 0.3rem;
        }
    }
    .services__item-buttonbottom {
        bottom:1.6rem;
        right: 1rem;
        left: auto;
        cursor: pointer;
        background-color: #4D0814;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 135%;
        color: #FFFFFF;
        padding: 0.9rem 3.1rem;
        border: 0.1rem solid #4D0814;
        transition: all 0.3s ease 0s;
        &:hover{
            color: #000000;
            background-color: #F8F8F8;
            box-shadow: 0 0 0.7rem #4D0814;
        }
    }
    .section__services-container {
        padding-top: 5rem;
    }
    .section__services-title {
        font-size: 3.0rem;

    }
}
@media(max-width:768px){
    .section__services-items {
       row-gap: 2rem;

    }
    .section__services-item {
        flex: 1 1 100%;
        height: 28rem;
     }
     .services__item-buttontop {
        left: 6.211rem;
        bottom: 2.6rem;
        font-size: 1.6rem;
        &::after{
            content: url(../images/main/arrowred.svg);
            width: 2.0rem;
            height: 1.0rem;

        }
    }
    .services__item-buttonbottom {
        bottom:1.6rem;
        right: 1rem;
        left: auto;
        cursor: pointer;
        font-size: 1.6rem;
        line-height: 135%;
        color: #FFFFFF;
        padding: 0.9rem 3.1rem;
        border: 0.1rem solid #4D0814;
        transition: all 0.3s ease 0s;
        &:hover{
            color: #000000;
            background-color: #F8F8F8;
            box-shadow: 0 0 0.7rem #4D0814;
        }
    }
    .section__services-container {
        padding-top: 5rem;
    }
    .section__services-title {
        font-size: 2.5rem;

    }
    .section__services-line{
        width: 21.2rem;
        height: 0.3rem;
        margin-top: 1.4rem;
        margin-bottom: 2.2rem;
    
    }
    .services__item-points {
        padding-left: 3.211rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        margin-bottom: 0rem;
    }
    .item__point {
        font-size: 1.6rem;
        &::after{
            position: absolute;
            content: url(../images/main/point.svg);
            left: -3.2rem;
            top: 0;
        }
    }
    .servises__item-title {
        font-size: 2.0rem;
        margin-bottom: 2rem;
    }
}
@media(max-width:768px){
    .section__services-items {
       row-gap: 2rem;

    }
    .section__services-item {
        flex: 1 1 100%;
        height: 32rem;
     }
     .services__item-buttontop {
        left: 3rem;
        bottom: 2.6rem;
        font-size: 1.4rem;
        text-decoration: underline;
        &::after{
            content: url(../images/main/arrowred.svg);
            width: 2.0rem;
            height: 1.0rem;
            display: none;

        }
    }
    .services__item-buttonbottom {
        bottom:1.6rem;
        right: 1rem;
        left: auto;
        cursor: pointer;
        font-size: 1.4rem;
        line-height: 135%;
        color: #FFFFFF;
        padding: 0.7rem 2.0rem;
        border: 0.1rem solid #4D0814;
        transition: all 0.3s ease 0s;
        &:hover{
            color: #000000;
            background-color: #F8F8F8;
            box-shadow: 0 0 0.7rem #4D0814;
        }
    }
    .section__services-container {
        padding-top: 2rem;
    }
    .section__services-title {
        font-size: 2.5rem;

    }
    .section__services-line{
        width: 15.2rem;
        height: 0.2rem;
        margin-top: 1.4rem;
        margin-bottom: 2.2rem;
    
    }
    .services__item-points {
        padding-left: 3.211rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        margin-bottom: 0rem;
    }
    .item__point {
        font-size: 1.6rem;
        &::after{
            position: absolute;
            content: url(../images/main/point.svg);
            left: -3.2rem;
            top: 0;
        }
    }
    .servises__item-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}
@media(max-width:397px){
    .section__services-item {
        flex: 1 1 100%;
        height: 35rem;
     }
}
/*-------------------------------------------------------------------------*/
.section__numbers {
    background-image: url(../images/main/bg2.png);
    background-size: cover;
    background-color: #263D59 ;

}
.section__numbers-container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 26.3rem 1.5rem 8.4rem 1.5rem;
}
.section__numbers-title {
    display: block;
    font-family: 'GothamProBold';
    font-size: 3.6rem;
    line-height: 92%;
    color: #FFE49D;
    margin: 0 auto;
    margin-bottom: 2.6rem;
    text-transform: uppercase;
}
.numbers__items {
    display: flex;
    justify-content: space-between;
}

.numbers__item {
    padding-top: 14.8rem;
    flex: 1 1 33.3333%;  
}
.numbers__item-container {
    position: relative;
}
.numbers__item-num {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 100%;
    color: #FFE49D;
    padding-left: 6.3rem;
    span{
        font-size: 8.6rem;
    }

}
.numbers__item-text {
    font-family: 'GothamProBold';
    font-size: 2rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 23.5rem;
    background: rgba(255, 255, 255, 0);
    
}

.numbers__item-two {
    padding-top: 9.6rem; 
}


/*------------------------------------------------------------------*/

.section__advantages-container {
    max-width: 130rem;
    padding: 10rem 1.5rem;
    margin: 0 auto;
}

.section__advantages-row {
    display:flex ;
    justify-content: space-between;
    column-gap: 2rem;
    margin-top: 8rem;
    align-items:center ;
   
}
.advantages__item-icon {
    width: 9.2rem;
    height: 9.2rem;
 
}
.advantages__item-text {
    font-family: 'GothamProBold';
    font-size: 2.2rem;
    line-height: 117%;

}
.section__advantages-item {
    flex: 1 1 30%;
    max-width: 32.8rem;
    display:flex;
    align-items: center;
    column-gap: 2rem;
    
}
.section__advantages-item2 {
    flex: 1 1 30%;
    font-family: 'GothamProBold';
    max-width: 32.8rem;
    display:flex;
    align-items: center;
    column-gap: 2rem;

}
.section__advantages-item3 {
    flex: 1 1 30%;
    font-family: 'GothamProBold';
    max-width: 32.8rem;
    display:flex;
    align-items: center;
    column-gap: 2rem;

}
@media(max-width:992px){
    .section__advantages {
    }
    .section__advantages-container {
        padding: 6rem 1.5rem;
    }
    
    .section__advantages-row {
        flex-wrap: wrap;
        margin-top: 5rem;
        row-gap: 2rem;
        justify-content: space-around;
       
    }
    .advantages__item-icon {
        width: 8.2rem;
        height: 8.2rem;
     
    }
    .advantages__item-text {
        font-family: 'GothamProBold';
        font-size: 1.8rem;
        line-height: 117%;
    
    }
    .section__advantages-item {
        flex: 0 1 45%;
        
    }
    .section__advantages-item2 {
        flex: 0 1 45%;
    
    }
    .section__advantages-item3 {
        flex: 0 1 45%;

    
    }
}
@media(max-width:576px){

    .section__advantages-container {
        padding: 4rem 1.5rem;
    }
    
    .section__advantages-row {
        flex-wrap: wrap;
        margin-top: 3rem;
        row-gap: 2rem;
        justify-content: space-around;
       
    }
    .advantages__item-icon {
       max-width: 6.2rem;
        height: 6.2rem; 
        img{
            width: 100%;
            height: 100%;
        }

    }
    .advantages__item-text {
        font-family: 'GothamProBold';
        font-size: 1.4rem;
        line-height: 117%;
    
    }
    .section__advantages-item {
        max-width: none;
        flex: 1 1 100%;
        
    }
    .section__advantages-item2 {
        max-width: none;
        flex: 1 1 100%;
    
    }
    .section__advantages-item3 {
        max-width: none;
        flex: 1 1 100%;

    }
}

/*---------------------------------------------------------------------------------*/
.section__task {background-color: #263D59;
}
.section__task-container {
    max-width: 130rem;
    padding: 9rem 1.5rem;
    margin: 0 auto;
}
.services__title-yellow {
    color: #FFE49D;
}
.services__line-white {
    background-color: #FFFFFF;
}

.swipertask-container {
    box-shadow: 0 0 1.4rem #000000;
    position: relative;
}

.swiper__slidetask-container {
    padding: 6rem 11rem;
    background-color: #FFFFFF;
    border: 0.2rem solid #FFE49D;
    display:flex ;
    column-gap: 5.4rem;
    align-items: center;
    height: auto;

}
.slidetask__left {
    z-index: 40;
    cursor: pointer;
    width: 34.4rem;
    height: 33rem;
    background-image: url(../images/main/docandsearch.png);
    background-size: 21.4rem 33.3rem;
    background-position: left;
    background-repeat: no-repeat;
    border-right: 0.1rem solid #B2B3B3;
}
.slidetask__right {
    width: 67rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.slide__task-right-item {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
.task__right-item-title {
    text-align: right  ;
    min-width: 10.8rem;
    font-family: 'GothamProBold';
    padding-top: 0.5rem;
    font-size: 1.6rem;
    line-height: 92%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}
.slide__task-item-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #4A4A4A;
        
}
    .swiper-button-nexttask,
    .swiper-button-prevtask{
        min-width: 10rem;
        min-height: 10rem;
        background-color: #4D0814;
        top: 50%;
        box-shadow: 0 0 0.7rem #000;
     
        
    &::after{
        font-size: 55px !important;
        color: #ffffff;
 
    }
    .swiper-button-prevtask{
        left: -5rem;
    }
}

.popup {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    top: 0;
    left: 0;
    opacity:0;
    visibility: hidden;
    transition: 0.5s all ease 0s;
  
  }
  ._open{
    opacity: 100%;
    visibility: visible;
  }
  .popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }
  .popup__photo{
    background-color: #263D59;
    width:30vw;
    height: 90vh;
    padding: 2rem;
    position: relative;
  }
.popup__photo-container{
    background-image: url(../images/main/doc.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.swiperdoc-container {
    box-shadow: 0 0 0.7rem #000000;
    position: relative;
    height: 100%;
}
.popup__cancel{
    cursor: pointer;
    position: absolute;
    z-index: 30;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.5rem;
    right: 2.5rem;
    background-image:url(../images/main/cancel.svg) ;
    background-size: cover;
}
@media(max-width:992px){

    .section__task-container {
        padding: 6rem 1.5rem;
    }

    .swiper__slidetask-container {
        padding: 3rem 6rem;
        column-gap: 1.4rem;

    
    }
    .slidetask__left {
        width: 24.4rem;
        height: 26rem;
        background-image: url(../images/main/docandsearch.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        border-right: 0.1rem solid #B2B3B3;
    }
    .slidetask__right {
        width: 67rem;
        row-gap: 2rem;
    }
    .slide__task-right-item {
    }
    .task__right-item-title {
        min-width: 10.8rem;
        padding-top: 0.5rem;
        font-size: 1.4rem;
    }
    .slide__task-item-text {
        font-size: 1.2rem;

            
    }
        .swiper-button-nexttask,
        .swiper-button-prevtask{
            min-width: 5rem;
            min-height: 5rem;
         
            
        &::after{
            font-size: 20px !important;
  
     
        }
     
    }
      
      .popup__photo{
    
        width:50vw;
        height: 90vh;
        padding: 1rem;

      }
    .popup__photo-container{
        background-image: url(../images/main/doc.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .swiperdoc-container {
        box-shadow: 0 0 0.7rem #000000;
        position: relative;
        height: 100%;
    }
    .popup__cancel{
        width: 2.0rem;
        height: 2.0rem;
        top: 2.9rem;
        right: 2.9rem;

    }
}
@media(max-width:768px){

    .section__task-container {
        padding: 3rem 1.5rem;
    }

    .swiper__slidetask-container {
        padding: 3rem 4rem;
        column-gap: 1.0rem;

    
    }
    .slidetask__left {
        min-width: 15.4rem;
        height: 20rem;
    }
    .slidetask__right {
        width: 67rem;
        row-gap: 2rem;
    }
 
    .task__right-item-title {
        min-width: 9.5rem;
        padding-top: 0.5rem;
        font-size: 1.2rem;
    }
    .slide__task-item-text {
        font-size: 1.0rem;

            
    }
        .swiper-button-nexttask,
        .swiper-button-prevtask{
            min-width: 4rem;
            min-height: 4rem;
         
            
        &::after{
            font-size: 18px !important;
  
     
        }
     
    }
      
      .popup__photo{
    
        width:50vw;
        height: 90vh;
        padding: 1rem;

      }
    .popup__photo-container{
        background-image: url(../images/main/doc.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .swiperdoc-container {
        box-shadow: 0 0 0.7rem #000000;
        position: relative;
        height: 100%;
    }
    .popup__cancel{
        width: 2.0rem;
        height: 2.0rem;
        top: 2.9rem;
        right: 2.9rem;

    }
}
@media(max-width:576px){

    .section__task-container {
        padding: 3rem 1.5rem;
    }

    .swiper__slidetask-container {
        padding: 2rem 2rem;
        column-gap: 1.0rem;
        height: auto;

    
    }
    .slidetask__left {
       display: none;
    }
    .slidetask__right {
      
        row-gap: 1rem;
    }
 
    .task__right-item-title {
        min-width: 7rem;
        padding-top: 0.5rem;
        font-size: 1.0rem;
    }
    .slide__task-item-text {
        font-size: 0.9rem;

            
    }
        .swiper-button-nexttask,
        .swiper-button-prevtask{
            min-width: 2rem;
            min-height: 2rem;
            background-color: #4d081472;
         
            
        &::after{
            font-size: 16px !important;
  
     
        }
     
    }
      
      .popup__photo{
    
        width:50vw;
        height: 90vh;
        padding: 1rem;

      }
    .popup__photo-container{
        background-image: url(../images/main/doc.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .swiperdoc-container {
        box-shadow: 0 0 0.7rem #000000;
        position: relative;
        height: 100%;
    }
    .popup__cancel{
        width: 2.0rem;
        height: 2.0rem;
        top: 2.9rem;
        right: 2.9rem;

    }
}
/*--------------------------------------------------------------------------------*/

.section__news-container {
    max-width: 130rem;
    padding: 10rem 1.5rem;
    margin: 0 auto;
}
.section__news-title {
    font-family: 'GothamProBold';
    font-size: 3.6rem;
    line-height: 117%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 1.4rem;

}
.section__news-line {
    width: 12rem;
    height: 0.4rem;
    margin: 0 auto;
    background-color: #4D0814;
}
.section__news-items {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 4rem;
}
.news__item-left {
    max-width: 42.8rem;
    display: flex;
    flex-direction: column;
}
.news__item-left-picture {
    width: 42.8rem;
    height: 27rem;
    background-image: url(../images/main/newsleft.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    &:hover{
        &::after{
            background-color: rgba(0,0,0,0.0);
        }
    }
    
}
.news__item-left-title{
    z-index: 2;
    position: absolute;
    bottom:1.7rem;
    left: 0.9rem;
    padding-left: 0.9rem;
    border-left: 0.2rem solid #AAAAAA;

}
.item__left-picture-date {
    font-family: 'GothamProBold';
    font-size: 1.4rem;
    line-height: 92%;
    color: #B2B3B3;
    margin-bottom: 0.7rem;

}
.item__left-picture-text {
    font-family: 'GothamProBold';
    font-size: 2.2rem;
    line-height: 92%;
    color: #FFFFFF;
    max-width: 36rem;
}
.item__left-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}
.news__item-right {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.item__right-row {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
   

}
.right__row-picture {
    min-width: 20.4rem;
    height: 20.4rem;
    background-image: url(../images/main/newsright1.jpg);
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
       &:hover{
        &::after{
            background-color: rgba(0,0,0,0.0);
        }
    }
}
.right__row-picture2 {
    position: relative;
    min-width: 20.4rem;
    height: 20.4rem;
    background-image: url(../images/main/newsright2.jpg);
    background-size: cover;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    transition: all 0.3s ease 0s;
    &:hover{
        &::after{
            background-color: rgba(0,0,0,0.0);
        }
    }
}
.right__row-text {
    max-width: 64.9rem;
}
.right__row-undertext {
    max-width: 64.9rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}
.right__row-title {
    padding-left: 1rem;
    border-left: 0.2rem solid #AAAAAA;
    margin-bottom: 1.4rem;
}
.right__row-title-date {
    font-family: 'GothamProBold';
    font-size: 1.4rem;
    line-height: 92%;
    color: #B2B3B3;
    margin-bottom: 1rem;
}
.right__row-title-text {
    font-family: 'GothamProBold';
    font-size: 2.2rem;
    line-height: 92%;
    color: #4D0814;

}
.section__news-button {
    cursor:pointer;
    margin:0rem auto;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 117%;
    color: #4D0814;
    padding: 1rem 0rem;
    width: 22rem;
    text-align: center;
    border: 0.1rem solid #4D0814;
    justify-content: center;
 

}
.item__right-row-mobile{
    display: none;
}
@media(max-width:1024px){
    .news__item-left {
        max-width: 38.8rem;
    }
    .news__item-left-picture {
        width: 38.8rem;
        height: 23rem;
    
        
    }
}
@media(max-width:992px){
    .item__right-row-mobile{
        display: none;
    }
    .section__news-container {
        max-width: 130rem;
        padding: 7rem 1.5rem;
    }
    .section__news-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    
    }
    .section__news-line {
        width: 10rem;
        height: 0.3rem;
    }
    .section__news-items {
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .news__item-left {
        max-width: 100%;
        flex-direction: row;
        column-gap: 2rem;
    }
    .news__item-left-picture {
        min-width: 35.8rem;
        height: 24rem;
        margin-bottom: 2rem;
 
        
    }
    .news__item-left-title{
        bottom:1.7rem;
        left: 0.9rem;
        padding-left: 0.9rem;
    
    }
    .item__left-picture-date {
        font-size: 1.4rem;
        margin-bottom: 0.7rem;
    
    }
    .item__left-picture-text {
        font-size: 1.8rem;
        max-width: 70%;
    }
    .item__left-text {
        font-size: 1.6rem;

    }
    .news__item-right {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .item__right-row {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
       
    }
    .right__row-picture {
        min-width: 35.8rem;
        height: 24rem;
     
    }
    .right__row-picture2 {
        min-width: 35.8rem;
        height: 24rem;

    }

    .right__row-undertext {
        font-size: 1.4rem;
    }
    .right__row-title {
 
        margin-bottom: 1rem;
    }
    .right__row-title-date {
        font-size: 1.2rem;
    }
    .right__row-title-text {
        font-size: 2rem;
    
    }
    .section__news-button {
        font-size: 1.6rem;
        padding: 0.8rem 0rem;
        width: 20rem;

     
    
    }
}
@media(max-width:768px){
    .section__news-container {
        max-width: 130rem;
        padding: 5rem 1.5rem;
    }
    .section__news-title {
        font-size: 2.5rem;
    
    }
    .section__news-line {
        width: 8rem;
        height: 0.2rem;
    }

    .news__item-left-picture {
        min-width: 28.8rem;
        height: 17rem;
        margin-bottom: 0rem;
        
    }
    .news__item-left-title{
        bottom:1rem;
        left: 0.5rem;
    
    }
    .item__left-picture-date {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
    
    }
    .item__left-picture-text {
        font-size: 1.2rem;

    }
    .item__left-text {
        font-size: 1.0rem;

    }


    .right__row-picture {
        min-width: 28.8rem;
        height: 17rem;
     
    }
    .right__row-picture2 {
        min-width: 28.8rem;
        height: 17rem;

    }

    .right__row-undertext {
        font-size: 1.0rem;
    }
    .right__row-title {
 
        margin-bottom: 1rem;
    }
    .right__row-title-date {
        font-size: 1.2rem;
    }
    .right__row-title-text {
        font-size: 1.6rem;
    
    }
    .section__news-button {
        font-size: 1.6rem;
        padding: 0.8rem 0rem;
        width: 20rem;

     
    
    }
}
@media(max-width:567px){
    .item__right-row-mobile{
        display: block;
    }
    .section__news-container {
        max-width: 130rem;
        padding: 3rem 1.5rem;
    }
    .section__news-title {
        font-size: 2.0rem;
    
    }
    .section__news-line {
        width: 6rem;
        height: 0.2rem;
    }


    .news__item-left{
        display: none;
    }


    .right__row-picture {
        min-width: 28.8rem;
        height: 17rem;
        display: none;
     
    }
    .right__row-picture2 {
        min-width: 28.8rem;
        height: 17rem;
        display: none;

    }

    .right__row-undertext {
        font-size: 1.0rem;
    }
    .right__row-title {
 
        margin-bottom: 1rem;
    }
    .right__row-title-date {
        font-size: 1.2rem;
    }
    .right__row-title-text {
        font-size: 1.4rem;
    
    }
    .section__news-button {
        font-size: 1.4rem;
        padding: 0.6rem 0rem;
        width: 17rem;

     
    
    }
}
/*------------------------------------------------------------------------------------*/
.section__about {
    background-image: url(../images/main/bgvictoria.jpg);
    background-size: cover;
}
.section__about-container {
    max-width: 130rem;
    padding: 10.5rem 1.5rem;
    margin: 0 auto;


}
.section__about-content{
    max-width: 57.7rem;
    margin-left: auto;
}
.section__about-name {
    padding-left: 6.1rem;
    width: 30rem;
    font-family: 'GothamProBold';
    font-size: 4rem;
    line-height: 152%;
    text-transform: uppercase;
    color: #FFE49D;
    position: relative;
    margin-bottom: 1rem;
    &::after{
        position: absolute;
        content: '';
        width: 5.7rem;
        height: 5rem;
        left: 0;
        top: 0;
        background-image: url(../images/main/minilogo.svg);
        background-size: cover;

    }
}
.section__about-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 144%;
    color: #ffffff;
    margin-bottom: 4rem;

}
@media(max-width:992px){

    .section__about-container {
        max-width: 130rem;
        padding: 7.5rem 1.5rem;
        margin: 0 auto;

    }
    .section__about-content{
        max-width: 57.7rem;
        margin-left: 0;
    }
    .section__about-name {
        padding-left: 5.1rem;
        width: 26rem;
 
        font-size: 3.2rem;
        margin-bottom: 1rem;
        &::after{
            position: absolute;
            content: '';
            width: 4.4rem;
            height: 4.5rem;
    
        }
    }
    .section__about-text {

        font-size: 1.6rem;
        margin-bottom: 3rem;
    
    }
}
@media(max-width:576px){

    .section__about-container {

        padding: 4.5rem 1.5rem;

    }

    .section__about-name {
        padding-left: 4.1rem;
        width: 22rem;
 
        font-size: 2.4rem;
        margin-bottom: 1rem;
        &::after{
            position: absolute;
            content: '';
            width: 4rem;
            height: 3.6rem;
    
        }
    }
    .section__about-text {

        font-size: 1.2rem;
        margin-bottom: 2rem;
    
    }
}
/*-----------------------------------------------------------------------------------------*/